<div class="container">
  <div class='panel panel-primary'>
    <div class='panel-heading'>
      Panel Heading
    </div>
    <div class='panel-body'>
      <p>Panel body</p>
    </div>
  </div>
</div>

<md-card>
    <button md-button>All</button>
    <button md-raised-button>Of</button>
    <button md-raised-button color="primary">The</button>
    <button md-raised-button color="accent">Buttons</button>
  </md-card>

<div class="container">
<div class="row">
  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
    <div class="thumbnail">
      <img src="thumb1.png" alt="...">
      <div class="caption">
        <h3>General Donation</h3>
        <p>We welcome your donation to make education accessible for meritorious but financially challenged students.
          <a href="http://www.cbet.ca/wp-content/uploads/2017/04/PledgeFormOfficial2017.pdf">Pledge Form. </a>
          <a href="http://www.cbet.ca/2015CBETBrochure%20_SR_ek_v12_june16.pdf">CBET Brochure.</a>
        </p>
        <p><a href="https://www.paypal.com/cgi-bin/webscr?business=khanasma@sympatico.ca&amp;cmd=_xclick&amp;currency_code=CAD&amp;item_name=CBETGeneral%20DonationAmount" class="btn btn-primary" role="button">Donate</a></p>
      </div>
      </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
    <div class="thumbnail">
      <img src="thumb1.png" alt="...">
      <div class="caption">
        <h3>Sadaqa</h3>
        <p>Donate Sadaqah to help us support students who can’t afford to attend school.
          <a href="http://www.cbet.ca/wp-content/uploads/2017/04/PledgeFormOfficial2017.pdf">Pledge Form. </a>
          <a href="http://www.cbet.ca/2015CBETBrochure%20_SR_ek_v12_june16.pdf">CBET Brochure.</a>
        </p>
        <p><a href="https://www.paypal.com/cgi-bin/webscr?business=khanasma@sympatico.ca&amp;cmd=_xclick&amp;currency_code=CAD&amp;item_name=CBETGeneral%20DonationAmount" class="btn btn-primary" role="button">Donate</a></p>
      </div>
      </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
    <div class="thumbnail">
      <img src="thumb1.png" alt="...">
      <div class="caption">
        <h3>Zakat</h3>
        <p>Donate Zakat – For those who have to pay Zakat. It is an obligation, but for deserving students, it’s the difference beyond description. Pledge Form. CBET Brochure.
          <a href="http://www.cbet.ca/wp-content/uploads/2017/04/PledgeFormOfficial2017.pdf">Pledge Form. </a>
          <a href="http://www.cbet.ca/2015CBETBrochure%20_SR_ek_v12_june16.pdf">CBET Brochure.</a>
        </p>
        <p><a href="https://www.paypal.com/cgi-bin/webscr?business=khanasma@sympatico.ca&amp;cmd=_xclick&amp;currency_code=CAD&amp;item_name=CBETGeneral%20DonationAmount" class="btn btn-primary" role="button">Donate</a></p>
      </div>
      </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
    <div class="thumbnail">
      <img src="thumb1.png" alt="...">
      <div class="caption">
        <h3>United Way Campaign</h3>
        <p>Donate through United Way Government of Canada Charitable Workplace Campaign. Pledge Form. CBET Brochure.
          <a href="http://www.cbet.ca/wp-content/uploads/2017/04/PledgeFormOfficial2017.pdf">Pledge Form. </a>
          <a href="http://www.cbet.ca/2015CBETBrochure%20_SR_ek_v12_june16.pdf">CBET Brochure.</a>
        </p>
        <p><a href="https://www.paypal.com/cgi-bin/webscr?business=khanasma@sympatico.ca&amp;cmd=_xclick&amp;currency_code=CAD&amp;item_name=CBETGeneral%20DonationAmount" class="btn btn-primary" role="button">Donate</a></p>
      </div>
      </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
    <div class="thumbnail">
      <img src="thumb1.png" alt="...">
      <div class="caption">
        <h3>Donate via SMS</h3>
        <p>Text “Give” to 613-903-8343 and then follow the instructions.
          <a href="http://www.cbet.ca/wp-content/uploads/2017/04/PledgeFormOfficial2017.pdf">Pledge Form. </a>
          <a href="http://www.cbet.ca/2015CBETBrochure%20_SR_ek_v12_june16.pdf">CBET Brochure.</a>
        </p>
        <p><a href="https://www.paypal.com/cgi-bin/webscr?business=khanasma@sympatico.ca&amp;cmd=_xclick&amp;currency_code=CAD&amp;item_name=CBETGeneral%20DonationAmount" class="btn btn-primary" role="button">Donate</a></p>
      </div>
      </div>
  </div>
</div>
</div>
