md-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}

.caption {
  max-width: 80%;
  color: #777777;
  margin: 2em auto;
  text-align: center;
}

a:link {
    color: #D00C0B;
    text-decoration: none;
}
