<section class="main-container">
			<div class="main-wrapper">
				<h2>About Us</h2>
                <p>
                  CBET was established as a registered non-profit organization in August 2012 by the Bangladeshi Canadian community living in the Ottawa-Gatineau area. On January 1, 2014, CBET became a registered Canadian charity organization, and is the only Bangladeshi Canadian registered charity devoted to work in Education.
                </p>
                <p>
                  Our aim is to support financially challenged students in Bangladesh with sound academic records and help improve their socioeconomic status. We strive to give scholarships to College students in all the 450 sub-districts in Bangladesh.
                </p>
                <p>
                  Our aim is to make a difference in the lives of those who are not fortunate enough to continue their education due to financial constraint. By aiding them financially, we strive to help them establish themselves in society and be able to contribute to the country with their earned skills and knowledge.
                </p>
                <p>
                  Canada Bangladesh Education Trust is a Canadian Federal Government  registered non-profit  organization (Reg 822421-8). Charity registration number/ Business Number:801146101 RR0001 .
                </p>
                <p>
                  CBET Executive Committee members in Ottawa, Canada and Dhaka, Bangladesh are unpaid volunteers. CBET Dhaka Executive committee, Bangladesh will work closely with CBET Executive Committee, Ottawa, Canada for all aspects of CBET Bangladesh activities and operation.
                </p>
			</div>
</section>

