.main-container {
	padding-top: 40px;
}

.main-container h2{
	font-family: Arial;
	font-size: 50px;
	line-height: 50px;
	text-align: center;
  color: #373737;
}

.main-wrapper {
	width: 90%;
  margin: 0 auto;
}

.main-container p {
  font-size: 20px;
  font-family: Arial;
  color: #777777;
}
