<div>
  <nav class='navbar navbar-default'>
    <div class="container-fluid">
      <div class="navbar-header">
      </div>
      <ul class='nav nav-pills navbar-nav'>
        <li><a [routerLink]="['/home']"><img src="http://www.cbet.ca/wp-content/uploads/2015/05/80x153.png"></a></li>
        <li class="home">
          <a [routerLink]="['/home']">Home</a>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">About Us
                        <span class="caret"></span>
                    </a>
          <ul class="dropdown-menu">
            <!-- User "routerLink" to define link to component. -->
            <li><a [routerLink]="['/aboutus']">About Us</a></li>
            <!-- User "href" to define link to pages. -->
            <li><a href="http://www.ourcbet.ca">Our other site</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Media
                        <span class="caret"></span>
                    </a>
          <ul class="dropdown-menu">
            <li><a [routerLink]="['/aboutus']">Social Media</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Events
                        <span class="caret"></span>
                    </a>
          <ul class="dropdown-menu">
            <li><a [routerLink]="['/aboutus']">Social Media</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Scholarship
                        <span class="caret"></span>
                    </a>
          <ul class="dropdown-menu">
            <li><a [routerLink]="['/aboutus']">Social Media</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Donate
                        <span class="caret"></span>
                    </a>
          <ul class="dropdown-menu">
            <li><a [routerLink]="['/aboutus']">Social Media</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">FAQ
                        <span class="caret"></span>
                    </a>
          <ul class="dropdown-menu">
            <li><a [routerLink]="['/aboutus']">Social Media</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Contact
                        <span class="caret"></span>
                    </a>
          <ul class="dropdown-menu">
            <li><a [routerLink]="['/aboutus']">Social Media</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;UserName&nbsp;&nbsp;
                    </a>
          <ul class="dropdown-menu">
            <li><a [routerLink]="['/signup']">Sign Up</a></li>
            <li><a [routerLink]="['/login']">Login</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</div>
