.main-container {
	padding-top: 40px;
}

.main-container h2{
	font-family: Arial;
	font-size: 50px;
	line-height: 50px;
	text-align: center;
  color: #373737;
}

.signup-form{
	width: 400px;
	margin: 0 auto;
	padding-top: 30px;
}

.signup-form input{
	width: 90%;
	height: 40px;
	padding: 0px 5%;
	margin-bottom: 4px;
	border: none;
	background-color: #f8f8f8;
	font-size: 16px;
	line-height: 40px;
}

.signup-form button{
	display: block;
	margin: 0 auto;
	width: 30%;
	border: none;
	background-color:#f8f8f8;
	font-size: 16px;
	color: #333;
	cursor: pointer;
}

.signup-form md-card{
	width: 90%;
	line-height: 5px;
  background-color:#FFF;
}
