<section class="main-container">
			<div class="main-wrapper">
				<h2>Sign Up</h2>
                <form class="signup-form" action="includes/signup.php" method="POST">
					          <md-card>
                      <input type="text" name="username" placeholder="Username">
                      <input type="text" name="email" placeholder="Email">
                      <input type="password" name="password" placeholder="Password">
                      <button md-button type="submit">Sign Up</button>
                    </md-card>
                </form>
			</div>
</section>
